* {
    /* background-color: cornflowerblue; */
    box-sizing: border-box;
}
body {
    display: block;
    height: 100vh;
    width: 100vw;
    text-align: justify;
    margin: 0px auto;
    background: linear-gradient(to left, rgb(108, 98, 252) 0%, rgb(108, 108, 177) 29%, rgba(68,167,251,1) 100%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    background-color: rgb(148, 180, 238);
    width: 100vw;
    height: 25px;
    word-spacing: 10px;
    border-style: none none inset none;   
}
nav :first-child{
    margin-right: auto;
    word-spacing: 0px;
}
nav :last-child{
    margin-right: 5px;
}
a {
    background-color: rgb(148, 180, 238);
    text-decoration: none;
    color: black;
    padding: 0 5px;
    margin-top: 4px;
}
a:hover {
    text-shadow: .5px .5px rgb(109, 108, 108);
}
footer {
    background-color: rgb(148, 180, 238);
    position: relative;
    width: 100vw;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 7px 10px 2px 0px;
}
div {
    display: flex;
    margin: 15px auto;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: .2s;
}
div:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgb(86, 88, 88);
}
img {
    background-color: rgb(148, 180, 238);
    width: 50px;
    cursor: pointer;
}
h1 {
    display: flex;
    justify-content: center;
    margin: 60px auto 60px auto;

}
@media screen and (min-width: 740px) {
    main {
        display: flex;
        flex-direction: row;
    }
}