
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
}
a {
    font-size: 9vw;
    padding: 10px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    text-shadow: 2px 2px 5px, .3px .3px  white
}
a:hover {
    text-shadow: 1px 1px 5px white, .3px .3px  white
} 
.name {    
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align:center;
}
.background {
    background-color:rgb(255, 255, 255);
    background: radial-gradient(circle ,white 10%, #d08dfd 100% );
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
} 
.circle1 {
    background: radial-gradient(circle, #f3cefd 30%, rgb(250, 149, 242) 50%, #f3cefd 100%);
    border-radius:50%;
    margin: auto;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    animation: pulse3 10s linear infinite;
} 
.circle2 {
    background: radial-gradient(circle, #cbdef8 40%, rgb(253, 171, 235) 80%);
    border-radius:50%;
    margin: auto;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    animation: pulse2 6s linear infinite;
} 
.circle3 {
    background: radial-gradient(circle, rgb(139, 139, 250) 0%, rgb(166, 91, 252) 20%, rgb(186, 232, 250) 80%);
    border-radius:50%;
    margin: auto;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    animation: pulse 5s linear infinite;
}

@keyframes pulse {
    0%{width:20vw;height:20vw;}
    50%{width:28vw;height:28vw;}
    100%{width:20vw;height:20vw;}
}
@keyframes pulse2 {
    0%{width:35vw;height:35vw;}
    50%{width:60vw;height:60vw;}
    100%{width:35vw;height:35vw;}
} 
@keyframes pulse3 {
    0%{width:70vw;height:70vw;}
    50%{width:100vw;height:100vw;}
    100%{width:70vw;height:70vw;}
}
@keyframes movingContact {
    0%{top: 20%; left: 30%;}
    50%{top: 60%; left: -60%;}
    100%{top: 20%; left: 30%;}
}
@keyframes movingProjects {
    0%{top: 10%; left: -20%;}
    33.3%{top: 40%; left: 20%;}
    66.6%{top: 25%; left: 40%}
    100%{top: 10%; left: -20%;}
}

.about {
    transform: translate(15vw, 10vw);
    opacity:.8;
}
.projects {
    position: relative;
    transform: translate(-30vw, -5vw);
    opacity:.8;
    animation: movingProjects 5s linear infinite;
}
.contact {
    position: relative;
    transform: translate(-10vw, -20vw);
    opacity: .8;
    animation: movingContact 10s linear infinite;
}

@media screen and (min-width: 1300px) {
    .about {
        transform: translate(15vh, 14vh);
        opacity:.8;
    }
    .projects {
        position: relative;
        transform: translate(-30vw, -5vh);
        opacity:.8;
        animation: movingProjects 5s linear infinite;
    }
    .contact {
        position: relative;
        transform: translate(-10vh, -30vh);
        opacity: .8;
        animation: movingContact 10s linear infinite;
    } 

    @keyframes movingProjects {
        0%{top: 0%; left: -20%;}
        33.3%{top: 40%; left: 20%;}
        66.6%{top: 30%; left: 60%}
        100%{top: 0%; left: -20%;}
    }

    a {
        font-size: 8vw;
    }
}