* {
    box-sizing: border-box;
}
body {
    background: url(https://images.pexels.com/photos/3616764/pexels-photo-3616764.jpeg?auto=compress&cs=tinysrgb&w=1600) no-repeat center fixed;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100vw;
    text-align: justify;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    width: 100vw;
    height: 30px;
    word-spacing: 10px;
    z-index: 1;
}
nav a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
    margin-top: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover {
    text-shadow: .5px .5px rgb(109, 108, 108);
}
 p, h1, h3, ul {
    padding: 5px 20px;
    max-width: 380px;
    margin: 5px auto;
}
ul {
    padding-left: 40px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: -67px;
    align-items: center;
    width: 100vw;
    padding: .5rem 0;
    height: 3rem;
    border-top: 1px solid;
}
button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    background-color: black;
    border-radius: 10px;
    color: antiquewhite;
    cursor: pointer;
    height: 50px;
    width: 75px;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: .8;
    transition: .4s;
}
nav :first-child{
    margin-right: auto;
    word-spacing: 0px;
}
nav :last-child{
    margin-right: 5px;
}
.caro-images img{
    width: 300px;
    border-radius: 5px;
    margin: 0 auto;
    display: none;
}
.caro-images img:first-of-type {
    display: block;
}
#github, #linkedin {
    width: 50px;
    cursor: pointer;
    background-color: rgb(255, 185, 159)
}
.greeting{
    margin-top: 40px;
}
.caro-container {
    display: flex;
    justify-content: center;
}
.prev, .next {
    display: flex;
    align-self: center;
    background-color: antiquewhite;
    border-radius: 50%;
    padding: 7px;
    margin: auto 10px;
    box-shadow: 5px 5px 10px black;
}
IFRAME {
    display: flex;
    margin: auto;
    background-color: aliceblue;
    height: 450px;
    width: 75vw;
}

@media screen and (min-width: 740px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-areas: 
            "leftCol" "rightCol";
    }
    .leftColumn {
        grid-area: "leftCol";
    }
    .rightColumn {
        grid-area: "rightCol";
        margin-top: 60px;
        max-width: 380px;
    }
    IFRAME {
        width: 45vw;
        height: 600px;
    }
    /* footer {
        bottom: 0;
    } */
}
/* Image scaling when screen gets small */
@media screen and (max-width: 400px) {
    .caro-images img{
        width: 75vw;
        border-radius: 5px;
        margin: 0 auto;
        display: none;
    }
}