body {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle at top left, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    font-size: 30px;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 5px, .3px .3px  white
}
a:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 5px white, .3px .3px  white
}
a:first-of-type {
    margin-bottom: 80px;
    font-size: 45px;
}
/* @keyframes rotatingGradient {
    0% {background: radial-gradient(circle at top left, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    11.1% {background: radial-gradient(circle at top, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    22.2% {background: radial-gradient(circle at top right, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    33.3% {background: radial-gradient(circle at center right, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    44.4% {background: radial-gradient(circle at bottom right, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    55.5% {background: radial-gradient(circle at bottom center, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    66.6% {background: radial-gradient(circle at bottom left, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    77.7% {background: radial-gradient(circle at center left, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223));}
    88.8% {background: radial-gradient(circle at top left, rgb(44, 19, 19), rgb(153, 102, 102), rgb(252, 223, 223))}
} */